body {
  background-color: rgb(0, 0, 0); */
  box-shadow:
  0 0 60px 30px rgb(68, 50, 50),  
  0 0 100px 60px #f0f, 
  0 0 140px 90px #0ff;
  text-align: center;
  font-family: 'Space Mono', monospace; 
  display: flex;
  flex-direction: column;
  color: rgb(3, 3, 3);
} 

h1 {
  font-size: 4rem;
}

.instructions {
  background-color: rgb(139, 33, 54);
  width: 100vh;
  height: 180vh;
  margin: 0 auto;
  justify-content: center;
}

.howToPlay {
  text-align: left;
}

/* .btn {
  background-color: rgb(150, 58, 153);
  border: rgb(109, 41, 107);
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  color: white;
  margin: 2rem;
  padding: 2rem;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  outline: none;
  box-shadow: 0 9px rgb(83, 62, 83);
  }
  
  .btn:hover {background-color: #8b2ed3}
  
  .btn:active {
    background-color: rgb(91, 98, 81);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} */